
// 전역 공통으로 사용
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
html {
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

// 스크롤바
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

// 공통 사용 변수
$max-content-width: 808px;

// 공통 사용 padding, margin
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}

// 공통 사용 텍스트
.blue_text{
  color: #0b6e99;
}
.blue_background_text {
  background: rgb(231, 243, 248);
}
.grey_color{
  color: #9b9a97;
}
.green_color{
  color: rgb(15, 123, 108);
}
.bold_text{
  font-weight: bold;
}
.underline_text {
  text-decoration: underline;
}


// 공통 사용 버튼
.common_btn_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.common_btn {
  border: none;
  // background-color: transparent;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 3px 5px 3px; 
  cursor: pointer;
  transition: background-color 120ms ease;
  display:flex;
  color: rgb(55, 53, 47);
  font-size: 14px;
  &.btn_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      margin-right: 4px;
      width: 14px;
      height: 14px;
      display: block;
      fill: inherit;
    }
  }
  &:hover{
    background-color: #efefef;
  }
}

// 레이아웃 디폴트 영역
.default_layout_wrapper {
  overflow-y: scroll;
  height: 100vh;
  // 헤더 영역
  .default_header{
    z-index: 1000;
    position: sticky;
    background-color: white;
    color: black;
    top: 0px;
    height: 47px;
    // 헤더 영역
    .header_title_section{
      height: 45px;
      padding: 0 12px 0 12px;
      display:flex;
      align-items: center;
      justify-content: space-between;
    }
    // 헤더 퍼센트 영역
    .scroll_percent_section {
      height: 2px;
      background-color: black;
    }
  }
  // 메인 영역
  .default_main {
    min-height: calc(100vh - 47px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(55, 53, 47);
    .default_main_wrapper {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width:90%;
      max-width: $max-content-width;
      // margin: 0 auto;
      // 마지막 요소의 경우 하단 내용 표현을 위해서 padding 적용
      &:last-child{
        padding-bottom: 65px;
      }
      // 상단 타이틀
      .main_title {
        margin-top: 40px;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
      }
      // 회색 박스
      .grey_box{
        padding: 15px;
        width: calc(100% - 30px);
        background-color: rgb(241, 241, 239);
        color: inherit;
        border-radius: 16px;
        display:flex;
        // 좌측 아이콘
        .left_icon {
          width: 22px;
          height: 22px;
          display: block;
          fill: inherit;
        }
        // 상단 타이틀
        .grey_box_title{
          font-weight: 600;
          font-size: 16px;
          display: flex;
          align-items: center;
          .title_icon{
            width: 16px;
            height: 16px;
            display: block;
            fill: inherit;
          }
        }
        // 내용
        .grey-box-content {
          line-height: 1.5;
          &.link{
            opacity: 0.7;
            text-decoration: underline;
            &:hover {
              cursor: pointer;
              opacity: 1 !important;
            }
          }
        }
      }
      // 투명 박스
      .white_box {
        padding: 15px;
        width: calc(100% - 30px);
        border: 1px solid rgb(228, 227, 226);;
        color: inherit;
        border-radius: 16px;
        display:flex;
        // 좌측 아이콘
        .left_icon {
          width: 22px;
          height: 22px;
          display: block;
          fill: inherit;
        }
        // 내용
        .white-box-content {
          line-height: 1.5;
        }
      }
      // 중간 글자 텍스트
      .box_text_wrapper{
        width: 100%;
        font-weight: 700;
        font-size: 1.875em;
        line-height: 1.3;
        margin: 0;
        font-size: 1.25em;
        line-height: 1.3;
      }
      .box_img {
        width: 100%;
        border-radius: 16px;
      }
      // 가로 선
      .hr_wrapper{
        width: 100%;
        hr {
          border: none; /* 기본 테두리 제거 */
          background-color: rgb(228, 227, 226); /* 새로운 배경색 지정 */
          height: 1px;
        }
      }
      // 중간 글자 크기 제목
      .sub_title_text_wrapper {
        font-weight: 700;
        font-size: 1.875em;
        line-height: 1.3;
        width: 100%;
      }
      // 중간 글자 크기 제목
      .sub_middle_title_text_wrapper {
        font-weight: 600;
        font-size: 1.5em;
        width: 100%;
      }
      // 작은 글자 크기 제목
      .sub_small_title_text_wrapper {
        font-weight: 600;
        font-size: 1.25em;
        width: 100%;
      }
      // 왼쪽 라인 보더 텍스트
      .left_line_box_content{
        width: calc(100% - 20px);
        border-left: 3px solid black;
        padding: 5px 10px;
        line-height: 1.5;
      }
      // 중간 크기 아이콘
      .icon_small_size {
        width: 16px;
        height: 16px;
        fill: inherit;
      }
      .icon_middle_size {
        width: 22px;
        height: 22px;
        fill: inherit;
      }
      // SandBurg Solutions ssss
      .sandburg_soltuions_top_wrapper{
        display: flex;
        width: 100%;
        .left_img{
          width:25%
        }
        .right_content{
          margin-left: 5%;
          width:70%;
          .list_line{
            line-height: 1.8;
          }
          .blud_box{
            background-color: #e7f3f8;
            display:flex;
            align-items: center;
            padding: 20px 10px;
            border-radius: 16px;
          }
        }
      }
      .sandburg_soltuions_bottom_wrapper {
        width: 100%;
        .text_line{
          line-height: 1.5;
        }
      }
      // SandBurg Solutions eeee

      // Sandburg Core-Value ssss
      .sandburg_core_wrapper {
        width: 100%;
        display: flex;
        .left_section {
          width: 47%;
        }
        .center_section {
          width: 5%;
        }
        .right_section {
          width: 48%;
        }
      }
      // Sandburg Core-Value eeee

      // Sandburg History ssss
      .sandburg_history_list_wrapper{
        width: 100%;
        .history_list_ul{
          line-height: 2;
          margin: 0;
          padding-left: 30px;
        }
      }
      // Sandburg History eeee

      // Sandburg growth ssss
      .sandburg_growth_content{
        width:100%;
        line-height: 1.5;
      }
      // Sandburg growth eeee
      
      // Sandburg news ssss
      .sandburg_news_wrapper {
        width: 100%;
      }
      // Sandburg news eeee

      // Sandburg Team ssss
      .div_btn {
        display: flex;
        align-items: center;
        padding: 5px;
        &:hover {
          cursor: pointer;
          background-color: #f6f6f6;
        }
      }
      .sandburg_team_wrapper{
        width: 100%;
        display: flex;
        .left_section {
          width: 47%;
        }
        .center_section {
          width: 5%;
        }
        .right_section {
          width: 48%;
        }
      }
      // Sandburg Team eeee

      // Sandburg Recruit ssss
      .grid_wrapper{
        width: 100%;
        .grid_section{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: stretch;
          .grid_content {
            flex: 0 0 25%;
            max-width: calc(25% - 16px);
            padding: 8px;
            .content_wrapper {
              transition: background-color 1s ease;
              background-color: inherit;
              color: rgb(55, 53, 47, 0.7);
              box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
              border-radius: 10px;
              overflow: hidden;
              height: 100%;
              width: 100%;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              .gird_img{
                display: block;
                object-fit: cover;
                // border-radius: 1px 1px 0px 0px;
                width: 100%;
                height: 100%;
                object-position: center 50%;
                max-height: 120px;
              }
              .content_text_section {
                padding: 10px;
                .content_title {
                  display: flex;
                  align-items: center;
                  font-size: 16px;
                }
                .sub_info {
                  width: fit-content;
                  border-radius: 5px;
                  padding: 4px;
                  font-size: 12px;
                  margin-bottom: 5px;
                  
                  &.grey {
                    background-color: #ebebec;
                  } 
                  &.pink {
                    background-color: #ffe8e7;
                  }
                  &.blue {
                    background-color: #e3f2fb;
                  }
                  &:last-child{
                    margin-bottom: 0;
                  }
                }
              }
            }
            &:hover{
              .content_wrapper{
                background-color: rgba(55, 53, 47, 0.08);
              }
            }
          }
          @media (max-width: 1408px) {
            .grid_content{
              .gird_img{
                max-height: 130px;
              }
              flex: 0 0 33.3%;
              max-width: calc(33.3% - 16px);
            }
          }
          @media (max-width: 992px) {
            .grid_content{
              .gird_img{
                max-height: 150px;
              }
              flex: 0 0 50%;
              max-width: calc(50% - 16px);
            }
          }
          @media (max-width: 767px) {
            .grid_content{
              .gird_img{
                max-height: 250px;
              }
              flex: 0 0 100%;
              max-width: calc(100% - 16px);
            }
          }
        }
      }
      // Sandburg Recruit eeee

      // Sandburg Workspace ssss
      .sandburg_workspace_text {
        width:100%;
      }
      .workspace_img_wrapper{
        display: flex;
        align-items: center;
      }
      .sandburg_workspace_sub_info_wrapper {
        width: 100%;
        display:flex;
        .left_section{
          width: 47%;
        }
        .center_section{
          width: 5%;
        }
        .right_section{
          width: 48%;
        }
      }
      .map_wrapper{
        width:100%;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        #map{
          width: 100%;
          padding-bottom: 60%; /* 가로 넓이에 따라서 세로가 변경됨 */
          position: relative;
          overflow: hidden;
        }
      }
      // Sandburg Workspace eeee

      // Contact Us ssss
      .common_text {
        width: 100%;
      }
      // Contact Us eeee

    }
    // 가로 전체 이미지 영역 
    .main_img {
      box-sizing: border-box;
      object-fit: cover;
      border-radius: 0px;
      width: 100%;
      height: 30vh;
      overflow: hidden;
      &.chg_position {
        object-position: center 9.51%;
      }
    }
  }
  // 푸터 영역
  .default_footer {
    position: fixed;
    bottom: 15px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: black;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 88%;
    margin: 0px auto;
    height: 48px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(55, 53, 47, 0.4) 0px 0px 4px 2px;
    animation: 0.8s ease 0s 1 normal none running fadeIn;
    max-width: $max-content-width;
    cursor: pointer;
  }
}

// 반응형 미디어 설정
/* 데스크탑 */
// @media (max-width:1023px) {
//   /* 타블렛 */
//   // 메인 화면 padding 조절
//   .default_layout_wrapper{
//     .default_main{
//       .default_main_wrapper{
//         padding-left: 30px;
//         padding-right: 30px;
//       }
//     } 
//   } 
// }
// @media (max-width:767px) {
//   /* 모바일 */
//   .default_layout_wrapper{
//     .default_main{
//       .default_main_wrapper{
//         padding-left: 20px;
//         padding-right: 20px;
//       }
//     } 
//   } 
// }

// 적용 되어있는 max-content-width를 기준으로 padding 세팅
@media (max-width: $max-content-width) {
  /* 모바일 */
  .default_layout_wrapper{
    .default_main{
      .default_main_wrapper{
        padding-left: 20px;
        padding-right: 20px;
      }
    } 
  } 
}