
// 전역 공통으로 사용
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
html {
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

// 스크롤바
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

// 공통 사용 변수
$max-content-width: 808px;

// 공통 사용 padding, margin
.mr-3 {
  margin-right: 10px;
}

// 공통 사용 버튼
.common_btn_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.common_btn {
  border: none;
  // background-color: transparent;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 3px 5px 3px; 
  cursor: pointer;
  transition: background-color 120ms ease;
  display:flex;
  color: rgb(55, 53, 47);
  font-size: 14px;
  &.btn_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      margin-right: 4px;
      width: 14px;
      height: 14px;
      display: block;
      fill: inherit;
    }
  }
  &:hover{
    background-color: #efefef;
  }
}

// 레이아웃 디폴트 영역
.default_layout_wrapper {
  overflow-y: scroll;
  height: 100vh;
  // 헤더 영역
  .default_header{
    position: sticky;
    background-color: white;
    color: black;
    top: 0px;
    height: 47px;
    // 헤더 영역
    .header_title_section{
      height: 45px;
      padding: 0 12px 0 12px;
      display:flex;
      align-items: center;
      justify-content: space-between;
    }
    // 헤더 퍼센트 영역
    .scroll_percent_section {
      height: 2px;
      background-color: black;
    }
  }
  // 메인 영역
  .default_main {
    min-height: calc(100vh - 47px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .main_img{
      object-fit: cover;
      border-radius: 0px;
      width: 100%;
      height: 30vh;
      overflow: hidden;
      object-position: center 9.51%;
    }
    .default_main_wrapper{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: $max-content-width;
    }
  }
  // 푸터 영역
  .default_footer {
    position: fixed;
    bottom: 15px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: black;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 88%;
    margin: 0px auto;
    height: 48px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(55, 53, 47, 0.4) 0px 0px 4px 2px;
    animation: 0.8s ease 0s 1 normal none running fadeIn;
    max-width: $max-content-width;
    cursor: pointer;
  }
}